/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/OpenSans/webfonts/OpenSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/OpenSans/webfonts/OpenSans-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/OpenSans/webfonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/OpenSans/webfonts/OpenSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/OpenSans/webfonts/OpenSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/OpenSans/webfonts/OpenSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/OpenSans/webfonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/OpenSans/webfonts/OpenSans-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('fonts/OpenSans/webfonts/OpenSans-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('fonts/OpenSans/webfonts/OpenSans-ExtraBoldItalic.woff2') format('woff2');
}

/* Darby Sans */

@font-face {
  font-family: 'Darby Sans Web';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-Light-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Darby Sans Web';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-LightItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Darby Sans Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Darby Sans Web';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-RegularItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Darby Sans Web';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-Medium-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Darby Sans Web';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-MediumItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Darby Sans Web';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-Medium-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Darby Sans Web';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-MediumItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Darby Sans Web';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-Bold-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Darby Sans Web';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-BoldItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Darby Sans Web';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-Black-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Darby Sans Web';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('fonts/DarbySans/webfonts/DarbySans-BlackItalic-Web.woff2') format('woff2');
}
